<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>prelude</param-name>
        <param-value>*** Start of Content ***</param-value>
    </context-param>
    <context-param>
        <param-name>coda</param-name>
        <param-value>*** End of Content ***</param-value>
    </context-param>
    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>ro.gilian.javatechlabs.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResponseDecoratorFilter</filter-name>
        <filter-class>ro.gilian.javatechlabs.ResponseDecoratorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResponseDecoratorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, ServletContextAttributeListener</description>
        <listener-class>ro.gilian.javatechlabs.AppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>WelcomeToInput</servlet-name>
        <jsp-file>../input.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>ro.gilian.javatechlabs.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>ro.gilian.javatechlabs.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharacterListServlet</servlet-name>
        <servlet-class>ro.gilian.javatechlabs.CharacterListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToOutput</servlet-name>
        <jsp-file>../result.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>ro.gilian.javatechlabs.servlets.GraphServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeToInput</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharacterListServlet</servlet-name>
        <url-pattern>/characters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToOutput</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/GraphServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
